.header_component {
  display: flex;
  align-items: center;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;

  .header_component_img {
    margin: 0 15px;
    border-radius: 40px;
    height: 60px;
  }

  .header_component_logo {
    cursor: pointer;
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
  }
}
